<form action="/result" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="first" placeholder="first number">
  <input type="text" name="second" placeholder="second number">
  <input type="submit" name="Submit">
</form>
